# FPGA build artifacts
app/**/build/
app/**/*.bit
app/**/*.fasm
app/**/*.frames
app/**/*.json
f4pga/.tools/
f4pga/fpga-project/build/
f4pga/fpga-project/command.txt

# Python cache
**/__pycache__/
*.pyc
